<nav class="navbar navbar-static-top navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
			<%= link_to 'Home', root_path, class: "navbar-brand" %>
		</div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- TODO REFACTOR THIS -->
      <ul class="nav navbar-nav">
				<% if data.length > 0 %>
					<% data.each do |cat_name, sub_categories| %>
						<li class="dropdown">
							<%= link_to cat_name, root_path(category: cat_name), class: "dropdown-toggle", 'role': 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false' %>
							<ul class="dropdown-menu">
								<% sub_categories.each do |sub_category| %>
									<% sub_category.each do |name, sub_sub_categories| %>
										<li class="sub-category">
											<%= sanitize link_to name, root_path(sub_category: name) %>
										</li>
										<% sub_sub_categories.each do |sub_sub_category| %>
										<li class="sub-sub-category">
											<%= sanitize link_to sub_sub_category, root_path(sub_sub_category: sub_sub_category) %>
										</li>
										<% end %>
									<% end %>
								<% end %>
							</ul>
						</li>
					<% end %>
				<% end %>
			</ul>

      <form class="navbar-form navbar-right search-form" role="search">
				<input type="text" class="form-control" placeholder="Search" />
        <button class="btn btn-xs btn-default search-btn" type="submit" name="button">search</button>
        <div class="adv-search-btn"><small><%= link_to 'Advance search', root_path %></small></div>
			</form>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Admin', categories_path %></li>
      </ul>

    </div>
  </div>
</nav>
