<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Home', root_path %></li>
      </ul>


      <ul class="nav navbar-nav">
				<% if data.length > 0 %>
					<% data.each do |cat_name, sub_categories| %>
						<li class="dropdown">
							<%= link_to cat_name, root_path(category: cat_name), class: "dropdown-toggle", 'role': 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false' %>
							<ul class="dropdown-menu">
								<% sub_categories.each do |sub_category| %>
									<% sub_category.each do |name, sub_sub_categories| %>
										<li class="sub-category">
											<%= sanitize link_to name, root_path(sub_category: name) %>
										</li>
										<% sub_sub_categories.each do |sub_sub_category| %>
										<li class="sub-sub-category">
											<%= sanitize link_to sub_sub_category, root_path(sub_sub_category: sub_sub_category) %>
										</li>
										<% end %>
									<% end %>
								<% end %>
							</ul>
						</li>
					<% end %>
				<% end %>
			</ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Admin', categories_path %></li>
      </ul>

    </div>
  </div>
</nav>


<% unless home?(root_path) %>
  <%= render 'partials/admin_header' %>
<% end %>
