<!-- TODO REFACTOR THIS! -->
<% if params[:category] %>
	<span class="results"><%= pluralize(@products.count, "product") %> found</span>
	<span class="hierarchy-links">
		<% if params[:category] %>
			<%= link_to params[:category], root_path(category: params[:category]), class:"hierarchy-link" %>
		<% end %>
		<% if params[:category] && params[:sub_category] %>
			<span>&nbsp;>&nbsp;</span>
			<%= link_to params[:sub_category], root_path({
                              category: params[:category],
                              sub_category: params[:sub_category]
                            }), class:"hierarchy-link" %>
		<% end %>
		<% if params[:category] && params[:sub_category] && params[:sub_sub_category] %>
			<span>&nbsp;>&nbsp;</span>
			<%= link_to params[:sub_sub_category], root_path({
                              category: params[:category],
                              sub_category: params[:sub_category],
                              sub_sub_category: params[:sub_sub_category]
                            }), class:"hierarchy-link" %>
		<% end %>
	</span>
<% end %>

<% @products.each do |product| %>
  <div class="col-md-4 text-center">
		<div class="product-card">
      <%= link_to product_path(product.id) do %>
			   <%= image_tag product.thumb_img, height: '200', width: '200' %>
  			<div class="product-details">
  				<span class="name"><%= product.name %></span>
  				<span class="price"><%= number_to_currency product.price %></span>
  			</div>
      <% end %>
		</div>
	</div>
<% end %>
