<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <%= form_for @sub_sub_category, class: "form-horizontal" do |f| %>

      <% if @sub_sub_category.errors.any? %>
          <% @sub_sub_category.errors.full_messages.each do |error| %>
          <%= js add_gritter(error, title: "Sephora App Notification", sticky: false) %>
        <% end %>
      <% end %>

      <div class="form-group">
        <%= f.label :sub_category, class: "col-sm-4 control-label" %>
        <%= f.grouped_collection_select(:sub_category_id, Category.all, :sub_categories, :name, :id, :name, { :multiple => false }, {class: "form-control"}) %>
      </div>

      <div class="form-group">
        <%= f.label :name, class: "col-sm-2 control-label" %>
        <%= f.text_area :name, class: "form-control" %>
      </div>

      <% unless create_page?(new_sub_category_path) %>
      <h3>Products</h3>
        <div class="container product-container">
          <div class="row product-container-row">
            <%= f.fields_for :products do |product| %>
              <%= render 'product_card', product: product %>
            <% end %>
          </div>
        </div></br>
      <% end %>

      <%= link_to 'Create new product', new_product_path, class: 'btn btn-xs btn-primary btn-block' %>
      <%= f.submit 'Save', class: 'btn btn-success btn-block' %>

    <% end %>
  </div>
</div>
