<div class="col-xs-3">
  <div class="project project-default">
    <div class="project-content">
      <h5 class="lead">
        <%= product.label :name, 'Name: ', class: 'product-card-text' %>
        <%= product.text_field :name, class: "form-control" %>
      </h5>
      <p>
        <%= product.label :description, class: 'product-card-text' %>
        <%= product.text_field :description, class: "form-control" %>
      </p>
      <p>
        <%= product.label :price, class: 'product-card-text' %>
        <%= product.number_field :price, class: "form-control" %>
      </p>
    </div>
  </div>
</div>
