<tr>
	<td>
		<%= sub_sub_category.id %>
	</td>
	<td>
		<%= link_to sub_sub_category.cat_data[:name], edit_category_path(sub_sub_category.cat_data[:id]) %>
	</td>
  <td>
		<%= link_to sub_sub_category.sub_cat_data[:name], edit_sub_category_path(sub_sub_category.sub_cat_data[:id]) %>
	</td>
	<td>
		<strong><%= sub_sub_category.name %></strong>
	</td>
  <td>
		<%= link_to 'Edit', edit_sub_sub_category_path(sub_sub_category), id: "edit_sub_sub_cat_#{sub_sub_category.id}" %>
	</td>
	<td>
		<%= link_to 'Delete', sub_sub_category_path(sub_sub_category), method: :delete, id: "delete_sub_sub_cat_#{sub_sub_category.id}_from_index" %>
	</td>
</tr>
