<%= form_for @sub_category do |f| %>

  <%= f.text_area :name %>

  <%= f.submit 'Save' %>

  <% unless create_page?(new_sub_category_path) %>
  <h3>Sub sub categories</h3>
  <%= f.fields_for :sub_sub_categories do |sub_sub_cat| %>
    <%= sub_sub_cat.label :name %></br>
    <%= sub_sub_cat.text_field :name %></br>
      <%= sub_sub_cat.check_box :_destroy %>
      <%= sub_sub_cat.label :_destroy, 'remove' %></br>
    <% end %>
    <%= link_to 'Create new sub sub category', new_sub_sub_category_path %>
  <% end %>

<% end %>
