<tr>
	<td>
		<%= sub_category.id %>
	</td>
  <td>
		<%= sub_category.cat_parent_name %>
	</td>
	<td>
		<strong><%= sub_category.name %></strong>
	</td>
  <td>
		<%= link_to 'Edit', edit_sub_category_path(sub_category), id: "edit_sub_cat_#{sub_category.id}" %>
	</td>
	<td>
		<%= link_to 'Delete', sub_category_path(sub_category), method: :delete, id: "delete_sub_cat_#{sub_category.id}_from_index" %>
	</td>
</tr>
