<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <%= form_for @category, class: "form-horizontal"  do |f| %>

    <% if @category.errors.any? %>
        <% @category.errors.full_messages.each do |error| %>
        <%= js add_gritter(error, title: "Sephora App Notification", sticky: false) %>
      <% end %>
    <% end %>

    <div class="form-group">
      <%= f.label :Category_name, class: "col-sm-3 control-label" %>
      <%= f.text_area :name, class: "form-control" %>
    </div>

      <% unless create_page?(new_category_path) %>
      <h3>Sub categories</h3>
        <%= link_to 'Create new sub category', new_sub_category_path, class: 'btn btn-xs btn-primary btn-block' %></br>
        <%= f.fields_for :sub_categories do |sub_cat| %>
          <div class="form-group">
            <%= sub_cat.label :Sub_category_name, class: "col-sm-4 control-label" %>
            <%= sub_cat.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= sub_cat.label :_destroy, 'Remove', class: "pull-right" %>
            <%= sub_cat.check_box :_destroy, class: "pull-right" %></br>
          </div>
        <% end %>
      <% end %>

      <%= f.submit 'Save', class: 'btn btn-lg btn-success btn-block' %>

    <% end %>

  </div>
</div>
