<tr>
	<td>
		<%= product.id %>
	</td>
  <td>
		<%= product.sub_sub_cat_name %>
	</td>
	<td>
		<strong><%= product.name %></strong>
	</td>
  <td>
		<%= link_to 'Edit', edit_product_path(product), id: "edit_prod_#{product.id}" %>
	</td>
	<td>
		<%= link_to 'Delete', product_path(product), method: :delete, id: "delete_prod_#{product.id}_from_index" %>
	</td>
</tr>
