<tr>
	<td>
		<%= product.id %>
	</td>
	<td>
		<%= link_to product.cat_data[:name], edit_category_path(product.cat_data[:id]) %>
	</td>
	<td>
		<%= link_to product.sub_cat_data[:name], edit_sub_category_path(product.sub_cat_data[:id]) %>
	</td>
  <td>
		<%= link_to product.sub_sub_cat_data[:name], edit_sub_sub_category_path(product.sub_sub_cat_data[:id]) %>
	</td>
	<td>
		<strong><%= product.name %></strong>
	</td>
  <td>
		<%= link_to 'Edit', edit_product_path(product), id: "edit_prod_#{product.id}" %>
	</td>
	<td>
		<%= link_to 'Delete', product_path(product), method: :delete, id: "delete_prod_#{product.id}_from_index" %>
	</td>
</tr>
